<div>
    {% if not image_list %}
    <div class="notification">
        <h5 class="title is-5 has-text-centered">No images found</h5>
    </div>
    {% endif %}
    <div id="image-list">
        {% for image in image_list %}
        <hr />
        <article class="media image-list-items is-disabled">
            <figure class="media-left">
                <p class="image thumb-container is-128x128" data-filename="{{ image.filename }}">
                    <img src="/images/thumbnails/{{ image.filename }}" alt="{{ image.filename }}">
                </p>
            </figure>
            <div class="media-content">
                <p class="is-title is-size-4">{{image.filename}}</p>
                <p class="is-size-5">ID: {{image.id}}</p>
                <p class="has-text-grey is-size-5">Uploaded: {{image.created_at|format_datetime}}</p>
                <progress class="progress is-small is-primary mt-5 is-invisible" data-id="{{ image.id }}"
                    max="100"></progress>
            </div>
            <nav class="level is-mobile">
                <div class="level-right">
                    <div class="level-item">
                        <button class="button delete-image-button is-danger is-outlined"
                            title="Delete image from device" data-id="{{ image.id }}"
                            data-filename="{{ image.filename }}">
                            <span class="icon is-small has-text-danger">
                                <i class="fas fa-xmark"></i>
                            </span>
                        </button>
                    </div>
                    <div class="level-item">
                        <button class="button set-image-button is-success is-outlined" title="Set as current image"
                            data-id="{{ image.id }}" data-filename="{{ image.filename }}">
                            <span class="icon is-small has-text-success">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </button>
                    </div>
                    <div class="level-item"></div>
                    <div class="level-item">
                        <label class="checkbox ml-3 mr-3" data-id="{{ image.id }}" data-filename="{{ image.filename }}">
                            <input class="image-checkbox" data-id="{{ image.id }}" data-filename="{{ image.filename }}"
                                type="checkbox" />
                        </label>
                    </div>
                </div>
            </nav>
        </article>
        <hr />
        {% endfor %}
    </div>
</div>