<div>
    {% if not image_list %}
    <h5 class="title is-5">No images saved to the device</h5>
    {% endif %}
    <div id="image-list" class="grid is-col-min-15">
        {% for image in image_list %}
        <div class="cell">
            <div class="card image-card">
                <div class="card-content">
                    <h3 class="title is-3">Filename: {{ image.filename }}</h3>
                    <h4 class="title is-4">ID: {{ image.id }}</h4>
                    <p class="subtitle is-5">Created At: {{ image.created_at|format_datetime }}</p>
                    <div class="buttons">
                        <button data-id="{{ image.id }}" class="button is-danger delete-image-button">Delete</button>
                        <button data-id="{{ image.id }}" class="button is-primary set-image-button">Set</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>