html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.main-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

/* .main-section {
    margin-right: 1rem;
    margin-left: 1rem;
} */

.top-bar {
    padding-top: 1rem;
}


.loading {
    display: none;
}


.thumb-container {
    max-height: 180px;
    overflow: hidden;
}

.responsive-card {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.image-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
}