html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-section {
    flex: 1;
}

.main-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

/* .main-section {
    margin-right: 1rem;
    margin-left: 1rem;
} */

.top-bar {
    padding-top: 1rem;
}


.loading {
    display: none;
}

.image-list-item {
    height: 150px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.list-item-image {}

.thumb-container {
    width: 150px;
    max-height: 128px;
    overflow: hidden;
}

.thumb-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.responsive-card {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.image-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
}