html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.main-article {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#content {
    flex: 1;
}

#list-of-cards {
    position: relative;
}

.loading {
    display: none;
}

.image-card {
    display: flex;
    flex-direction: column;
}

.image-card-details {
    flex-grow: 2;
}

.image-card-buttons {
    align-content: flex-end;
    justify-self: flex-end;
    flex: 3;
}