<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bulma.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/all.min.css" />
    <title>{% block title %}{% endblock %} - E-Ink Picture Frame App</title>
    {% endblock %}
</head>

<body>
    <section class="hero is-small is-link">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <p class="title">
                        E-Ink Picture Frame App
                    </p>
                </a>
            </div>
        </nav>
    </section>

    <section class="notification-section">
        <div id="notification-container" class="notification is-hidden">
            <button id="notification-hide-button" class="delete"></button>
            <span id="notification-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos vel
                dolores
                blanditiis perspiciatis enim culpa alias tempora voluptates necessitatibus distinctio nemo,
                perferendis
                possimus eveniet non, sequi sapiente ex animi dolorem. Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Ipsa, iusto nisi, quis repellendus a quo obcaecati voluptate cumque quidem eos
                tempora
                consectetur ea possimus laboriosam corrupti beatae dignissimos, architecto harum.</span>
        </div>
    </section>

    <section class="main-section section">
        {% block content %}{% endblock %}
    </section>
    {% block scripts %}{% endblock %}

    <footer id="footer" class="main-footer section">
        {% block footer %}
        &copy; Copyright 2025 by <a href="https://ashmanix.com">Ashmanix</a>
        {% endblock %}
    </footer>
    <script type="module" src="js/pages/base.js"></script>
    </article>
</body>

</html>