{% extends "base.html" %}
{% block title %}Home{% endblock %}
{%block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div>
    <div class="mb-6">
        <h1 class="title">Images</h1>
        <h2 class="subtitle">
            The list of images saved on the picture frame device
        </h2>
    </div>

    <div id="storage-details-container">
        {% include "partial/storage_space.html" %}
    </div>

    <div class="level top-level top-bar">
        <div class="level-left">
        </div>

        <div class="level-right">
            <div class="level-item">
                <p>Upload an image to the device</p>
            </div>
            <div class="level-item">
                <div id="upload-image-input" class="file has-name is-fullwidth">
                    <label class="file-label">
                        <input id="image-file-upload-input" class="file-input" type="file" name="image-file" />
                        <span class="file-cta">
                            <span class="file-label"> Select image </span>
                        </span>
                        <span class="file-name"> No image selected </span>
                    </label>
                </div>
            </div>
            <div class="level-item">
                <button class="button is-link" id="upload-button" disabled>Upload</button>
            </div>
        </div>
    </div>

    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <div class="field has-addons is-expanded">
                    <p class="control is-expanded">
                        <input id="search-input" class="input" type="text" placeholder="Search images" />
                    </p>
                    <p class="control">
                        <button id="search-button" class="button is-link" disabled>Search</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <button id="refresh-list-button" class="button is-link">Refresh</button>
            </div>
        </div>
    </div>

    <section id="list-of-cards">
        <div class="loading" aria-busy="true"></div>
        <div id="image-list-container">
            {% include "partial/image_list.html" %}
        </div>
    </section>
</div>

{% endblock %}
{% block scripts %}
<script type="module" src="js/pages/home.js"></script>
{% endblock %}